In [1]:
import pandas as pd

## Read in data

First need to read in and split by new line, then split by tab delimiter and expand the columns out.

In [2]:
df = pd.read_csv('output.txt', header=None, sep='\n', encoding = 'utf-8')

In [3]:
df = df[0].str.split('\t', expand=True)

Rename columns

In [5]:
column_names = [
    "Tissue",
    "Adult Male FPKM",
    "Adult Male SD",
    "Adult Male Enrichment",
    "Adult Female FPKM",
    "Adult Female SD",
    "Adult Female Enrichment",
    "Male v. Female M/F",
    "Male v. Female p value",
    "Larval FPKM",
    "Larval SD",
    "Larval Enrichment",
]
df.columns = column_names

Extract FlyBase ID, Annotation Symbol, Symbol and Name

In [6]:
df.loc[df.Tissue == "FlyBase ID", "FlyBase ID"] = df["Adult Male FPKM"]
df.loc[df.Tissue == "Annotation Symbol", "Annotation Symbol"] = df["Adult Male FPKM"]
df.loc[df.Tissue == "Symbol", "Symbol"] = df["Adult Male FPKM"]
df.loc[df.Tissue == "Name", "Name"] = df["Adult Male FPKM"]

,Tissue,Adult Male FPKM,Adult Male SD,Adult Male Enrichment,Adult Female FPKM,Adult Female SD,Adult Female Enrichment,Male v. Female M/F,Male v. Female p value,Larval FPKM,Larval SD,Larval Enrichment,FlyBase ID,Annotation Symbol,Symbol,Name
0,FlyBase ID,FBgn0053503,None,None,None,None,None,None,None,None,None,None,FBgn0053503,NaN,NaN,NaN
1,Annotation Symbol,CG33503,None,None,None,None,None,None,None,None,None,None,NaN,CG33503,NaN,NaN
2,Symbol,Cyp12d1-d,None,None,None,None,None,None,None,None,None,None,NaN,NaN,Cyp12d1-d,NaN
3,Name,Cyp12d1-d,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,Cyp12d1-d
4,,Adult Male,,,Adult Female,,,Male v. Female,,Larval,None,None,NaN,NaN,NaN,NaN

Fill forward the new columns

In [7]:
columns_to_fill_forward = ['FlyBase ID', 'Annotation Symbol', 'Symbol', 'Name']
for name in columns_to_fill_forward:
    df[name] = df[name].fillna(method='ffill')

### Remove errors and pointless rows

In [9]:
remove_rows_containing = ["An error has occurred.",
                          "FlyBase ID",
                          "Annotation Symbol",
                          "Symbol", 
                          "Name", 
                          "Tissue",
                         ""]
df = df[~df.Tissue.isin(remove_rows_containing)]
df.head()

,Tissue,Adult Male FPKM,Adult Male SD,Adult Male Enrichment,Adult Female FPKM,Adult Female SD,Adult Female Enrichment,Male v. Female M/F,Male v. Female p value,Larval FPKM,Larval SD,Larval Enrichment,FlyBase ID,Annotation Symbol,Symbol,Name
6,Whole body,0.0,0,-1,0.0,0,-1,1.00,n.s.,0.0,0,-1,FBgn0053503,CG33503,Cyp12d1-d,Cyp12d1-d
7,Head,0.0,0,-1,0.0,0,-1,1.00,n.s.,-,-,-,FBgn0053503,CG33503,Cyp12d1-d,Cyp12d1-d
8,Eye,0.0,0,-1,0.0,0,-1,1.00,n.s.,-,-,-,FBgn0053503,CG33503,Cyp12d1-d,Cyp12d1-d
9,Brain / CNS,0.0,0,-1,0.0,0,-1,1.00,n.s.,0.0,0,-1,FBgn0053503,CG33503,Cyp12d1-d,Cyp12d1-d
10,Thoracicoabdominal ganglion,0.0,0,-1,0.0,0.01,-1,1.00,n.s.,-,-,-,FBgn0053503,CG33503,Cyp12d1-d,Cyp12d1-d